@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  background-color: black;
  color: white;
}

.container {
  /*border: 2px solid red;*/
  width: 80%;
  margin: auto;
  background-color: rgb(48, 46, 46, 0.815);
  border-radius: 20px;
}

.heading {
  font-family: "Lobster", cursive;
}

.title {
  font-size: 90px;
  text-align: center;
}

.lieber {
  color: red;
}

.date {
}

.img-div {
  text-align: center;
}

.image {
  width: 400px;
  border-radius: 40px;
}

.info {
  width: 80%;
  margin: 20px auto;
  text-align: justify;
  font-size: 1.5rem;
}

.marvel {
  color: red;
  width: 80%;
  margin: auto;
}

ul {
  width: 80%;
  margin: 40px auto;
}

li {
  font-size: 24px;
  line-height: 3rem;
}

.moreabout {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

.link {
  text-decoration: none;
  color: white;
  border: 2px solid darkorange;
  padding: 1rem;
  border-radius: 10px;
  background-color: black;
}

.link:hover {
  background-color: gray;
  color: black;
}
